/* colors */
:root {
  --bg-color: #FFFFFF;
  --theme-color: #006F13;
  --border-color: #D9D9D9;
  --disabled-color: #C9C9C9;
  --white: #FFFFFF;
  --black: #000000;
  --red: #ED1C25;
  --deselected-color: #898989;

  --title-bar-height: 60px;
  --menu-bar-width: 60px;
  --side_bar_width: 300px;
  --refresh-button-width: 110px;

  --border-radius: 10px;
}

html, body {width: 100%; height: 100%; margin: 0; font-size: 13px;}
#root, .document {width: inherit; height: inherit; display: flex;}
.menu_bar {width: var(--menu-bar-width); height: inherit; justify-items: center;}
.contents_area {position: relative; height: inherit; flex: 1; display: flex; flex-direction: column;}
.title_bar {width: inherit; height: var(--title-bar-height);}
.side_bar {padding: 15px; border-radius: var(--border-radius); z-index: 1;}

/* WIDGETS */
.image_button {margin: 10px;}
.image_button > .MuiButtonBase-root,
.image_button > .MuiButtonBase-root > img {width: inherit; height: inherit;}

.text_button {margin-bottom: 15px; border-radius: var(--border-radius);}
.text_button .MuiButtonBase-root {width: 100%; height: 100%;}
.text_button .MuiBox-root {padding: 15px;}
.text_button.disabled {background-color: var(--disabled-color) !important;}

.text.title .MuiTypography-root {margin: 10px 0; font-size: 1.5rem; font-weight: 600;}
.text.sub_title .MuiTypography-root {width: fit-content; margin-bottom: 10px; font-size: 1.2rem; font-weight: 400; color: var(--black);}
.text.description .MuiTypography-root {width: fit-content; color: var(--black);}

.tab .MuiTabs-root .MuiButtonBase-root:not(.Mui-selected) {color: var(--deselected-color);}
.tab .MuiTabs-root .MuiButtonBase-root:not(.Mui-selected) img {filter: grayscale(1);}
.tab .MuiTabs-root .MuiButtonBase-root.Mui-selected {color: var(--theme-color);}
.tab .MuiTabs-root .MuiTabs-indicator {width: 0;}
.tab.vertical > .MuiBox-root {border: none;}
.tab.vertical > .MuiBox-root > .MuiTabs-root > .MuiTabs-scroller > .MuiTabs-list > button.MuiButtonBase-root {min-width: unset; min-height: 0; margin: 5px 10px; padding-left: 0; padding-right: 0;}
.tab .MuiTabs-root .MuiButtonBase-root .tab_text {margin-top: 10px;}

.map_tooltip {position: absolute; top: 50%; left: 50%; padding: 10px; max-width: 300px; max-height: 120px; box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4); border-radius: var(--border-radius); background-color: var(--bg-color); transform: translate(-26%,-22%);}
.map_tooltip button {float: right; padding: 0;}
.map_tooltip .map_tooltip_content {display: flex; align-items: flex-start; margin: 15px 0;}
.map_tooltip .map_tooltip_content img {width: 50px !important; height: 50px !important;}
.map_tooltip .map_tooltip_content div:not(.image) {flex: 1;}

.message_bar {position: absolute; top: 15px; left: calc(5% / 2); width: calc(95% - 20px); max-height: 100px; background-color: var(--theme-color); opacity: 0.8; border-radius: var(--border-radius); z-index: 1; display: flex; flex-direction: column; align-items: center; padding: 10px;}
.message_bar.invisible {display: none;}
.message_bar .text,
.message_bar .text_button {width: fit-content;}
.message_bar .text_button {background-color: var(--white); color: var(--theme-color); margin: 10px 0 0;}
.message_bar .text_button .MuiBox-root {padding: 5px 10px;}

/* VIEW */
.logo_tab_button {width: 45px; height: 45px; margin-bottom: 20px;}
.menu_tab {width: 60px;}
.menu_tab img {width: 25px; height: 25px;}
.menu_tab .tab_panel {position: absolute; left: var(--menu-bar-width); top: var(--title-bar-height); width: calc(100% - var(--menu-bar-width)); height: calc(100% - var(--title-bar-height));}

.map_area {flex: 1; width: 100%; height: 100%;}

.side_bar.home {position: absolute; right: 16px; top: 16px; width: var(--side_bar_width); height: calc(100% - 64px); background: var(--bg-color); display: flex; flex-direction: column;}
.side_bar.home .text_button { background-color: var(--white); border: 1px solid lightgray;}
.side_bar.home .text_button .MuiBox-root {width: 100%; height: 100%;}
.side_bar.home .shelter_list {flex: 1; overflow-y: auto;}

.side_bar.congestion {position: absolute; right: 16px; width: 200px; background: var(--bg-color);}
.side_bar.congestion .text_button {background-color: var(--theme-color); border-radius: 12px; cursor: pointer;}
.side_bar.congestion .text_button .MuiBox-root {padding: 10px;}
.side_bar.congestion .text_button .text .MuiTypography-root {color: var(--white); font-weight: 400;}
.side_bar.congestion .text_button.disabled {cursor: not-allowed;}

.contents_area #map_area {width: 100%; height: 100%;}
.contents_area.congestion #map_area.selecting div {cursor: crosshair;}
.contents_area.congestion #map_area.selecting img#marker {cursor: not-allowed !important;}
.contents_area .refresh_btn {position: absolute; bottom: 20px; left: calc((100% - (var(--menu-bar-width) + var(--side_bar_width))) / 2 - var(--refresh-button-width) / 2); display: flex; flex-direction: row; width: var(--refresh-button-width); height: 45px; border-radius: 22px; background-color: var(--black); opacity: 60%; color: white; cursor: pointer; box-shadow: rgba(0, 0, 0, 0.15) 0 0 7px 0;}
.contents_area .refresh_btn .MuiButtonBase-root {flex: 1; color: white;}
.contents_area .refresh_btn div {flex: 2; align-content: center;}
.contents_area.congestion .refresh_btn {left: calc(50% - var(--refresh-button-width) / 2);}

.congestion_menu_area {position: absolute; top: 16px; left: 16px; width: calc(100% - 32px); display: flex; flex-direction: row;}
.congestion_menu_area .message_bar {flex: 1; position: unset; margin-right: 16px; height: fit-content;}
.congestion_menu_area .side_bar.congestion {position: unset;}
.congestion_menu_area .message_bar.invisible + .side_bar.congestion {position: absolute; right: 0;}